body{
    padding-top: 10px;
    background-color: #EEF9BF;
}

header{
    display: flex;
    flex-wrap: wrap;
}

header h1{
    color: #75B79E;
    font-family: 'Roboto', sans-serif;
    width: 640px;
    height: 63px;
    font-weight: 700;
    font-size: 56px;
    margin: 0 auto;
}

nav{
    width: 100%;
    display: flex;
}

.container-cards{
    width: 800px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    margin-top: 47px;
    position: relative;

    border-radius: 5px;
}

.card img{
    width: 100px;
    height: 100px;
    
}

.face{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.front {
    transform: rotateY(180deg);
}


.card .selecionado .front{
    transform: rotateY(0deg);
}

.card .selecionado .back-face{
    transform: rotateY(-180deg);
}

.contador{
    position: fixed;
    top: 10%;
    right: 5%;
    color: red;
}

@media(max-width: 335px){
    .container-cards{
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 90px;
    }
    header h1{
        font-size: 36px;
        align: center;
        width: 250px;
        text-align: center;
    }
}